@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 20px;
  user-select: none;
  font-family: "Roboto", "Helvetica", sans-serif;
  --modal-width: 18rem;
  --modal-height: 12rem;
}

body {
  padding: 2rem;
  background-color: cyan;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

body * {
  border-radius: 8px;
}

h1, h2 {
  margin: 0;
  font-weight: initial;
}

.modal {
  position: absolute;
  top: calc(50% - var(--modal-height) / 2);
  left: calc(50% - var(--modal-width) / 2);
  width: var(--modal-width);
  height: var(--modal-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 0.1rem yellow solid;
  z-index: 2;
}

.modal .start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  gap: .5rem;
}

.modal button {
  width: 3rem;
  height: 3rem;
  background-color: goldenrod;
  color: snow;
  transition: 0.2s background-color, 0.2s color;
}

.modal button:hover {
  background-color: snow;
  color: goldenrod;
}

.game-menu {
  border: .2rem turquoise solid;
  background-color: wheat;
  display: flex;
}

.game-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  gap: .5rem;
}

.game-box h2 {
  border: 0.1rem snow solid;
  background-color: navy;
  min-width: 8rem;
  text-align: center;
  color: snow;
}

.game-box p {
  background-color: olivedrab;
  color: snow;
  min-width: 2rem;
  text-align: center;
}

.move {
  display: flex;
  font-size: 6rem;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  border: 0.1rem snow dotted;
  background-color: slategray;
  transition: 0.2s background-color ease-out;
}

.win {
  background-color: lime;
}

.lose {
  background-color: crimson;
}

.hidden {
  display: none !important;
}

#player {
  transform: rotate(90deg) scaleX(-1);
}

#computer {
  transform: rotate(270deg);
}

#result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

.action-menu {
  border: 0.2rem turquoise solid;
  background-color: wheat;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: .5rem;
  min-width: 20rem;
  text-align: center;
}

.action-menu h1 {
  text-decoration: underline;
}

.action-box {
  display: flex;
  gap: 1rem;
  padding: .5rem;
  align-items: center;
  justify-content: space-evenly;
}

.action {
  display: flex;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s filter,
              0.5s background-color;
}

.action:hover {
  filter: brightness(1.2);
  background-color: whitesmoke;
  cursor: pointer;
}

.action:disabled {
  background-color: darkgray;
}

.border {
  text-shadow: 2px 0 0 black,
               -2px 0 0 black,
               0 2px 0 black,
               0 -2px 0 black,
               1px 1px black,
               -1px -1px 0 black,
               1px -1px 0 black,
               -1px 1px 0 black;
}

